*.pyc
*~
*#
seahub.db*
seahub*.db
local_settings.py
local_settings*
.DS_Store

.virtualenv
.env
.dumbjump
.projectile
.pytest_cache/

/.idea
venv

/python/seafes/run.sh

/python/seafevents/run.sh
/python/seafevents/events.conf
/python/seafevents/seafile_events.py

